<%= form_with(model: csv_operator, local: true) do |form| %>
  <% if csv_operator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(csv_operator.errors.count, "error") %> prohibited this csv_operator from being saved:</h2>

      <ul>
      <% csv_operator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
