<p id="notice"><%= notice %></p>

<h1>Csv Filters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ValueBefore</th>
      <th>CompareOpeartor</th>
      <th>CompareValue</th>
      <th>ValueAfter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @csv_filters.each do |csv_filter| %>
      <tr>
        <td><%= csv_filter.name %></td>
        <td><%= csv_filter.before_value %></td>
        <td><%= csv_filter.csv_operator&.name %></td>
        <td><%= csv_filter.compare_value %></td>
        <td><%= csv_filter.after_value %></td>
        <td><%= link_to 'Show', project_csv_type_csv_attribute_csv_filters_path %></td>
        <td><%= link_to 'Edit', edit_project_csv_type_csv_attribute_path(csv_filter.csv_attribute.csv_type.project, csv_filter.csv_attribute.csv_type, csv_filter.csv_attribute, csv_filter) %></td>
        <td><%= link_to 'Destroy', project_csv_type_csv_attribute_path(csv_filter.csv_attribute.csv_type.project, csv_filter.csv_attribute.csv_type, csv_filter.csv_attribute, csv_filter), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Csv Filter', new_project_csv_type_csv_attribute_csv_filter_path %>
