<%= form_with(model: csv_type, local: true) do |form| %>
  <% if csv_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(csv_type.errors.count, "error") %> prohibited this csv_type from being saved:</h2>

      <ul>
      <% csv_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
