<p id="notice"><%= notice %></p>

<h1>Csv Attribute Filters</h1>

<table>
  <thead>
    <tr>
      <th>Csv filter</th>
      <th>Csv attribute</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @csv_attribute_filters.each do |csv_attribute_filter| %>
      <tr>
        <td><%= csv_attribute_filter.csv_filter_id %></td>
        <td><%= csv_attribute_filter.csv_attribute_id %></td>
        <td><%= link_to 'Show', csv_attribute_filter %></td>
        <td><%= link_to 'Edit', edit_csv_attribute_filter_path(csv_attribute_filter) %></td>
        <td><%= link_to 'Destroy', csv_attribute_filter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Csv Attribute Filter', new_csv_attribute_filter_path %>
